*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 0, 0.5) url("images/dithered-bookshelf.png");
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: repeat-x;
}

.header-class {
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  padding: 45px;
  width: 1000px;
  height: 200px;
}

.header-class h1 {
  font-size: 40px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.about-container {
  padding-top: 50px;
  width: 300px;
}

.about-container img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.link-container {
  padding-top: 40px;
  padding-left: 50px;
  width: 300px;
}

.link-container img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.imgtxt {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  position: relative;
}
.imgtxt span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  font-size: 2rem;
  color: #fff;
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black);
}
.imgtxt:hover span,
.imgtxt:focus span {
  opacity: 1;
}
.imgtxt:hover img,
.imgtxt:focus img {
  transform: rotate(-20deg);
}

.book-list {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.book-display img {
  width: 250px;
  height: 350px;
}

.imgbook {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  position: relative;
}
.imgbook:hover span,
.imgbook:focus span {
  opacity: 1;
}
.imgbook:hover img,
.imgbook:focus img {
  transform: scale(1.2);
}
